Source: hildon-im-vkbrenderer3
Section: x11
Priority: optional
Maintainer: Ivaylo Dimmitrov <freemangordon@abv.bg>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake,
  libgtk2.0-dev, libglib2.0-dev, libx11-dev, libimlayouts0-dev, libgconf2-dev
Standards-Version: 3.7.2

Package: libhildon-im-vkbrenderer3
Architecture: any
Replaces: hildon-input-method-widgets0, libhildon-input-method-widgets-sdk2 (<< 3.0.0-1), libhildon-input-method-widgets2 (<< 3.0.0-1)
Conflicts: hildon-input-method-widgets0, libhildon-input-method-widgets-sdk2 (<< 3.0.0-1), libhildon-input-method-widgets2 (<< 3.0.0-1)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Virtual Keyboard Widget for the Hildon Input Method
 This package provides virtual keyboard widget.

Package: libhildon-im-vkbrenderer3-dbg
Section: devel
Architecture: any
Depends: libhildon-im-vkbrenderer3 (= ${Source-Version})
Description: Debugging symbols for Virtual Keyboard Widget for the Hildon Input Method

Package: hildon-im-vkbrenderer3-dev
Section: devel
Architecture: any
Depends: libhildon-im-vkbrenderer3 (= ${Source-Version})
Description: Development package for Virtual Keyboard Widget for the Hildon Input Method
