#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export himwidgetsdir ?= $(shell pkg-config --variable=himwidgetsdir hildon-input-method-ui-3.0)

%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	dh_autoreconf --as-needed ./autogen.sh

override_dh_autoreconf_clean:
	dh_autoreconf_clean
	./antigen.sh
